[2015-07-17 21:06] ialexryan opened #1 "Robinhood API login not returning "account" field"
Nothing's working, and it seems the reason why is that the Robinhood API is only returning a "token" field for the login request, not a "token" field and an "account" field.

https://github.com/aurbano/robinhood-node/blob/d7cd109a5cb4665b628814096083900f27ccf19a/src/robinhood.js#L90

When I put console.log(body.account) after this line, it's `undefined`.

cc/ @Rohanpai

[2015-07-18 08:55] aurbano commented on #1
Thanks for reporting @ialexryan , I have not been able to test the API yet since I don't have an account to access the API yet (I'm based in the UK)

[2015-10-27 03:38] nodesocket opened #4 "How to instantiate?"
The README.md shows:

[code]

Though seems like it should be:

[code]

What is recommended?

[2015-10-27 03:46] nodesocket opened #5 "[Error: options.uri is a required argument]"
Calling `quote_data` seeing an error:

[code]

[2015-10-27 03:48] aurbano commented on #5
Thank you for reporting it @nodesocket, I don't have an API token since the service is US only for now and I'm based on the UK, so I developed the API a bit "blindly".

I'll fix this, and also try to get a token again so I can finally test it. Cheers

[2015-10-27 03:52] nodesocket commented on #5
Just you just provide your `username` and `password` into the constructor? Not sure where the token is coming from. Thanks.

[2015-12-15 02:54] dustinmoorenet commented on #5
This was fixed in https://github.com/aurbano/robinhood-node/commit/fd44c9c0df6b8635ebaf5461a04526729f33a662 it just hasn't been release to npm.

[2015-12-15 03:17] dustinmoorenet commented on #1
The account property is not there because body is a zipped string. Setting gzip flag to true gives us the proper JSON response.

[2015-12-15 03:18] dustinmoorenet commented on #4
Waiting for login worked for me.

[code]

[2015-12-15 11:00] aurbano commented on #1
Brilliant @dustinmoorenet, thank you very much!

[2015-12-15 11:00] #1 closed

[2015-12-15 15:12] dustinmoorenet opened #7 "Publish new version to npm"

[2015-12-15 15:36] aurbano commented on #7
:+1: Planning to, can't publish to npm from work so later today

[2015-12-15 15:36] #7 closed

[2015-12-15 15:38] dustinmoorenet commented on #7
Cool, no rush.

[2015-12-15 21:54] aurbano commented on #5
published v0.1.0 that should fix this

[2015-12-15 21:54] #5 closed

[2015-12-15 21:55] aurbano commented on #4
published v0.1.0 that should fix this

[2015-12-15 21:55] #4 closed

[2015-12-15 22:23] dustinmoorenet opened #8 "Need to call callback in init function"
We need to call the init callback otherwise we can't wait for the login to finish. I have a fix, I just need the issue opened to reference it in the pull request.

[2015-12-15 23:51] aurbano commented on #8
Missed that, thanks! Releasing now

[2015-12-15 23:51] #8 closed

[2016-01-10 19:53] tejasmanohar opened #11 "What does `instrument.url` refer to?"
What does `instrument.url` refer to [here](https://github.com/aurbano/robinhood-node#place_buy_orderoptions-callback)? Based on the docs, it seems to be a required field so some clarification could be helpful.

[2016-01-10 19:56] tejasmanohar opened #12 "Possible values for order `type`"
What are the possible values for the `type` option [here](https://github.com/aurbano/robinhood-node#place_buy_orderoptions-callback)?

[code]

[2016-01-10 19:58] aurbano commented on #11
I can't tell for sure at the moment, both for this and for issue #12 since I'm in the UK where I don't have access to Robinhood (they still haven't opened here)

If you manage to find out more information about these fields please let me know or send a pull request, thanks!

[2016-01-10 20:00] tejasmanohar opened #13 "How'd you reverse-engineer this?"
Interested in hearing what process you took to develop this. Did you setup a MITM proxy from your mobile device and look at request data? What tool(s) did you find handy (like Charles?)? Any tips for those trying to reverse-engineer Robinhood API / send more PRs to help this one on setting up MITM proxy or whichever route you took (i.e. anything you had to do to get around the SSL pinning etc) :)

[2016-01-10 20:02] tejasmanohar commented on #11
Got it. Quite impressive that you got this far w/o Robinhood being open in the UK. I'm in the US and actively use Robinhood so maybe I can help contribute here. I've opened #13— if you could shed some light as to your process here, that'd definitely help, as I haven't done much reverse-engineering of APIs other than just listening to requests in Chrome DevTools' network panel.

[2016-01-11 15:38] aurbano commented on #13
All you need is a proxy setup on the phone, and then a mitm server running on your laptop.

This one is pretty good: https://mitmproxy.org/

If you'd rather use something with an interface try https://portswigger.net/burp/

SSL pinning might give you issues, it wasn't a problem when I tried but I'm pretty sure you can find workarounds. Since you control the phone and the mitm server it should be f

[2016-01-11 15:38] #13 closed

[2016-01-11 15:40] aurbano commented on #11
Another option without having to intercept all the calls is to use this package to reverse engineer the API further. Now that it can connect and get data, it should be easy to test sending small buy/sell orders and look at the responses.

As soon as they expand to the UK I'll finish covering the rest of the API and probably improve the code by adding classes for instruments, stocks...

[2016-01-11 17:06] tejasmanohar commented on #13
Aha thanks

[2016-01-12 02:44] KamuelaFranco commented on #11
It doesn't seem like they'll be expanding to the UK just yet. Unfortunately, I've had to permanently switch to my UK App Store account, which I just remembered as I was going to help investigate this.

[2016-01-12 02:47] tejasmanohar commented on #11
"to my US"? @KamuelaFranco

[2016-01-12 02:52] KamuelaFranco commented on #11
Nah, I mean that I have it on the US App Store, but it gets difficult to live in the UK for very long without just switching lol.

[2016-01-12 03:23] tejasmanohar commented on #11
Oh, sorry- I misread that completely. My bad.

[2016-01-29 19:15] toymachiner62 commented on #12
I would guess that "limit" is an option for `type`

[2016-02-01 03:50] toymachiner62 opened #14 "Instruments method fails with no method "upper""
With the following code I get the error:

[code]

[code]

[2016-02-10 06:45] aurbano commented on #12
Sounds likely - if anyone could try this and confirm it I'll add it to the docs

[2016-02-29 06:19] nodesocket opened #16 "No error returned in callback"
`quote_data` does not return error in callback.

[code]

[2016-02-29 07:13] nodesocket commented on #14
Seems like the `ticker` parameter in `quote_data()` is case-sensitive which it should not be.

[code]

Anybody else think we should run `.toUpper()` anywhere in this package we are passing in a symbol?

[2016-02-29 07:35] nodesocket opened #17 "Update request headers passed to the latest versions"
Is https://github.com/aurbano/robinhood-node/blob/master/src/robinhood.js#L61 and https://github.com/aurbano/robinhood-node/blob/master/src/robinhood.js#L63 the latest versions still?

I'm showing the current version in the OS X app store is `5.5.2`, but can't see if the header `X-Robinhood-API-Version` is `1.0.0` still.

[2016-02-29 08:35] nodesocket opened #18 "Automatically apply `.toUpper()` anywhere passing in a stock/symbol"
Seems like the `stock` parameter in `quote_data()` is case-sensitive which it **should not be**.

[code]

[code]

Anybody else think we should automatically apply `.toUpper()` anywhere in this package we are passing in a stock/symbol?

[2016-02-29 09:34] aurbano commented on #18
@nodesocket good catch, yes that would be a great idea.

My plan was to add in models for each piece of data, and then we'll have them maintain data integrity.

But for now calling `.toUpperCase()` on the symbol field automatically would be a good solution. Feel free to send a PR referencing this issue if you want, I'll do the change otherwise.

[2016-02-29 09:39] aurbano commented on #17
If you can intercept network calls that would be the best way to check the API version.

As I mentioned in other issues I moved to the UK and they still don't operate here so I can't check any further..

[2016-02-29 09:47] #18 closed

[2016-02-29 09:47] #14 closed

[2016-02-29 09:48] aurbano commented on #14
This is fixed and will be released today as v0.3.0

[2016-03-01 06:57] nodesocket commented on #16
Correction, the case of `quote_data()` does not have an error if you provide invalid login credentials because in-fact you don't need to auth to request this endpoint at all. However it should return `error` when you pass an invalid ticker symbol such as `sfafaffas` yet it does not.

[2016-03-04 20:08] nodesocket opened #21 "Get NASDAQ Composite quote"
Any idea how to get a NASDAQ Composite quote?

I tried:

[code]

Just not sure what Robinhood is using as the symbol.

[2016-03-11 10:46] rohitramkumar opened #22 "How to authenticate"
I am having trouble authenticating a user. I have tried the following but the API is rejecting it:

Robinhood({username:'myusername', password:'mypassword'});

Any idea what I am doing wrong?

[2016-03-11 10:55] #22 closed

[2016-04-03 00:46] annieechen commented on #22
How did you end up figuring this out?

[2016-04-03 13:10] aurbano commented on #22
@annieechen I suppose there was something else wrong with this approach, since the code should work fine. The credentials must be passed on initialisation, and the library will do the login straight away:

[code]

I'm planning on rewriting this slightly to use promises instead of callbacks, since at the moment there isn't unfortunately a way to know for sure that the login has already been complet

[2016-04-13 00:02] #21 closed

[2016-04-13 15:33] aurbano commented on #21
@nodesocket did you manage to fix this?

[2016-04-13 18:56] nodesocket commented on #21
Thanks for following up.

No, not sure what the NASDAQ composite ticker symbol is, or even if Robinhood's quote api exposes it.

[2016-04-14 18:50] jspenc72 opened #23 "Feature Offer: Ability to "watch" a stock for periodic updates."
Any interest in adding a service to continually poll a set of stocks and use an event emitter on updates?

[2016-04-15 17:30] aurbano commented on #23
This sounds like it could be useful, but probably more as an alert system, where the user can set specific thresholds and have an event fire when they are met. Comments on this?

[2016-04-15 20:29] jspenc72 commented on #23
I Have written a wrapper for this that adds the event functionality and added few other endpoints.

[2016-04-15 20:29] jspenc72 commented on #23
I am testing it noe

[2016-04-15 20:31] jspenc72 commented on #23
I am also adding a decision maker, comparison, and condition testing libraries. That way you can continually check the market conditions and trade accordingly.

[2016-04-15 20:31] jspenc72 commented on #23
Have you already written anything like that?

[2016-04-15 20:32] jspenc72 commented on #23
It could also be used for notifications.

[2016-04-15 21:11] aurbano commented on #23
This sounds really good!
I haven't written anything like it so far but it sounds very exciting, let me know when there is anything I can start playing with!

[2016-04-22 06:27] jspenc72 commented on #12
I verified it. "limit" is an option...

[2016-04-22 06:29] jspenc72 commented on #12
I changed the default to limit in my fork as well as typically I prefer to know what my shares will sell for rather than hope for the best offer...

[2016-04-29 17:11] brycelund opened #24 "Error: "{ account: [ 'This field is required.' ] }""
Code being executed:

[code]

According to the docs and the things I've read, this is the correct way to authenticate, yet I still get the error "{ account: [ 'This field is required.' ] }" when I run the above code. Any ideas?

[2016-04-29 17:15] fedosejev opened #25 "Example of how to authenticate?"
Unfortunately, there is no example of how to authenticate with Robinhood.

I guess this would be the correct way of doing it?

[code]

Thanks for your efforts!

[2016-04-30 14:57] brycelund commented on #25
I had to use the callback function in the initializer to make sure it was all the way authenticated before attempting any other functions.

`var rh = Robinhood({username:'username', password:'password'}, function(){

    rh.positions( function(error, response, body){
        console.log(body);
    });

});`

I haven't tried it the way you posted, but that works for me at least to authenticate and

[2016-04-30 22:52] busse opened #26 "oco order type?"
The README makes mention of an oco order type. Has that been tested and if so is there an example of how to call that? Is it two consecutive orders or different parameters sent in one?

[2016-04-30 23:19] busse commented on #25
I've used this project as an example implementation as I work on building my own script: https://github.com/markalfred/robinhood-to-csv

Using the `prompt` package, it shows:

[code]

I haven't previously used Promises in node, so that project has taught me a few things.

[2016-05-01 16:27] Michaeljurado24 commented on #24
Thanks for asking I have been trying to get this to work for a solid week!

[2016-05-01 21:39] busse commented on #24
I have determined the cause:

See line 95, `_private.account = body.account;`

https://github.com/aurbano/robinhood-node/blob/master/src/robinhood.js#L95

[code]
The API is not returning `account` on a call to `login` -- it only returns `token` thus `_private.account` remains unset.

The call to the `orders` API expects `account` in the body params, returning the error you (and I) are getting.

Ac

[2016-05-02 03:10] busse opened #27 "stop_price: options.stop_price needed to enter a stop* order"
To do a stop limit, stop loss, etc, `_place_order()` should have a `stop_price` field:

[code]

I've added it to my fork, successfully creating a stop loss order:

[code]

I have verified this in the UI & am working on a pull request

[2016-05-02 03:20] busse opened #28 "README.md is innaccurate with regard to order triggers & time"
For awareness, these sections of the README.md are inaccurate:

https://github.com/aurbano/robinhood-node#trigger
https://github.com/aurbano/robinhood-node#time
https://github.com/aurbano/robinhood-node#trigger-1
https://github.com/aurbano/robinhood-node#time-1

What is described as triggers are actually time in force, and vice versa. There is a trigger of `stop` as well, and possibly `on_close` (

[2016-05-03 05:00] sanko commented on #26
Right above that reads...

Not sure where @aurbano got `oco` but the only supported order types I've found are `market` and `limit`. Someone should make a PR to fix that and...

- switch trigger and time documentation (their listed possible values are swapped)
- add immediate-or-cancel (`ioc`), fill-or-kill (`fok`) and on-the-open (`opg`) to time
- add `on_close` and `stop` (which will then requir

[2016-05-03 05:12] sanko commented on #28
API documentation for orders may be found here: https://github.com/sanko/Finance-Robinhood/blob/master/API.md#place-an-order

[2016-05-04 08:26] #27 closed

[2016-05-04 08:28] aurbano commented on #28
Thanks for your PR @busse , just merged it. I'll revisit the readme today and ideally spend some time improving the code as well.

@sanko I hadn't seen that project but it seems like a really good resource as well, specially their documentation, thanks!

[2016-05-04 08:30] aurbano commented on #25
@busse using promises would make this a lot cleaner, so I've been thinking of adding them to this for a while. The only "downside" is that native support was fairly recent so I stayed away from it for now.

Also the docs need to be updated with authenticated examples, I'll try to spend some time on this soon. thanks!

[2016-05-04 08:32] aurbano commented on #24
@busse oh that's interesting, thanks for digging into it. When I started this I believe the account number was returned during login but I'm not 100% sure now.

If you find a better way a PR would be wonderful, thanks!

[2016-05-07 01:27] sanko commented on #28
@busse & @aurbano, I'm organizing the documentation of the API and putting it in its own repo this weekend. Makes things easier for people who want to keep track of any changes I make there but don't care to see all the updates I make to my Perl client. Linking to different parts should be a lot easier too.

Check it out over here: https://github.com/sanko/Robinhood/

[2016-05-11 09:56] bvallelunga commented on #23
@jspenc72 I have interest in building something similar. Any updates on your progress?

[2016-05-11 15:27] jspenc72 commented on #23
It's built, I use it privately now to monitor and make trades.

[2016-05-11 22:14] jondcallahan commented on #23
any chance you could open source that @jspenc72 ?

[2016-05-11 22:18] busse commented on #23
Not to threadjack, but I've been working on some similar functionality here. It's very early stage, but feel free to check it out and open any Issues for features you'd find useful: https://github.com/busse/friartuck

[2016-05-20 21:34] Joshwani commented on #12
So if I wanted to execute a "fill or kill" buy order would i want something like this...

{
        account: account,
        bid_price: bid_price,
        quantity: quantity,
        instrument: {
        url: url,
                symbol: symbol
        }
        trigger: "gtc",
        time: "immediate",
        type: "limit"
},

[2016-05-22 18:16] #24 closed

[2016-05-26 10:57] andreipopovici commented on #25
@aurbano I was just about to add Promises in my fork of robinhood-node. Did you, by any chance, get around to doing this? It would be a waste to duplicate the effort.

Otherwise, I'd be glad to try it and start a PR.

[2016-05-26 15:55] aurbano commented on #25
@andreipopovici I haven't had the time to get started on it, but if you go for it I'll be happy to merge it into the proyect

[2016-07-18 14:06] jgozal opened #32 "updated_at at the millisecond"
Since prices for securities can change within the same second, is there any way to get the updated_at string at the millisecond?

I am getting price changes within the same updated_at time.

jg

[2016-09-13 16:14] jspenc72 commented on #32
If you are looking at high frequency trading I use new Date() if in memory or immediately write the prices to Cassandra and use the timestamp generated by cassandra. This way you are not relying on updated_at which seems to change based on which robinhood server gives a response...
This works because from the point of view of your app the time difference between the local clock and updated_at is c

[2016-09-20 02:54] caviles commented on #25
The API seems to work great for me on unauthenticated calls. I see the login fn setting the token. However, when I call the API I get an error that says the token is invalid. Can anyone offer any guidance on this? I've tried sniffing the traffic using a proxy but the app detects I am doing so and blocks me. I've tried the example from brycelund and could not successfully get back my positions even

[2016-09-20 03:09] brycelund commented on #25
Can you post your code? What I had posted should still work

[2016-09-20 03:25] caviles commented on #25
Hey brycelund,

I must have somehow munged something up. I copied a second time and tried again, it's working great. Thanks for the lightning fast reply.

[2016-09-20 06:28] caviles opened #34 "Code Orders"
I noticed cancel orders was missing. To implement it you will need this URL https://api.robinhood.com/orders/<orderid>/cancel/. The orderid comes in the response of the order. Thanks for for posting this API.

[2016-09-21 20:06] jspenc72 commented on #34
Ill see if i can take care of it.

[2016-09-21 20:07] jspenc72 commented on #34
Thanks for this!

[2016-09-21 20:12] jspenc72 commented on #34
@caviles do you know if the endpoint expects a POST or DELETE request?

[2016-09-21 22:17] jspenc72 commented on #23
@jondcallahan Sry for the extended silence. Additional endpoints with support for order cancellation have been merged into master.

I am working on something that involves and Angular 2 dashboard, Observables and web sockets instead of events....

Once this is ready to go Ill open source what I can.

[2016-09-21 23:59] jspenc72 commented on #25
Do something like this

[code]
where credentials.js is a file containing something of the form:
[code]

[2016-09-22 15:13] aurbano commented on #28
@sanko added a link to your docs, really clean! As soon as I have some time I'll use them to update the readme here and improve the client.

[2016-09-22 15:13] #28 closed

[2016-09-22 15:13] #26 closed

[2016-09-22 15:13] #25 closed

[2016-09-22 15:14] #34 closed

[2016-09-22 15:14] aurbano commented on #23
I'll close this issue since this feature is not something that would make sense built into the client itself I believe.

[2016-09-22 15:14] #23 closed

[2016-10-06 01:48] jspenc72 commented on #23
@bvallelunga @jondcallahan @busse @aurbano

Hey guys, per popular request Ive open sourced an nom module that implements RxJS for creating Obsvervables to simplify quotes and orders. Let me know what you think!

https://github.com/jspenc72/robinhood-observer
https://www.npmjs.com/package/robinhood-observer

[2016-10-06 01:50] jspenc72 commented on #32
@DevKiddo

This library allows you to get millisecond updates. Check out the observable example shown in the usage.

https://github.com/jspenc72/robinhood-observer
https://www.npmjs.com/package/robinhood-observer

[2016-10-08 11:50] jspenc72 opened #41 "Feature Request"
Extensible API

Would be nice if the api was extensible so people can add their own functionality to it.

The unique observe functionality provided here could lend itself to such a use case.
https://www.npmjs.com/package/robinhood-observer
@aurbano

[2016-10-11 22:29] jspenc72 commented on #41
Bump @aurbano any thoughts on making the api extensible?

[2016-10-11 22:36] jspenc72 commented on #41
The idea would be to allow someone to write a module say the module was called "robinhood-strategies"

then a user could implement the robinhood-strategies by doing something like:
[code]

By adding the robinhood-strategies module you might be able to do something like:
[code]
Other types of strategies are summarized here:

[code]

[2016-10-11 22:41] jspenc72 commented on #41
BTW I'm already implementing this in my next release of robinhood-observer

[2017-01-16 08:00] viabox opened #43 "cancel_order not working"
cancel_order not working when i try it on a queued order.

[2017-01-16 11:09] aurbano commented on #43
Thanks for reporting it, do you get any error message that may help debug this?

[2017-02-07 04:45] swimclan commented on #43
I submitted a PR to fix this.

[2017-02-07 08:46] #43 closed

[2017-02-07 08:49] aurbano commented on #43
Merged, released in [v0.8.0](https://github.com/aurbano/robinhood-node/releases/tag/v0.8.0)

[2017-02-28 18:19] patrocinio opened #45 "Documentation: TypeError: Robinhood is not a function"
// Below is an issue template, feel free to modify it

Code being executed:

[code]

### Expected result

See GOOG's quote
// A little explanation, sample response JSON...

### Actual behaviour

// Either the error you received, or the JSON that was returned
Eduardos-MBP:robinhood edu$ node robinhood.js
/Users/edu/github/robinhood/robinhood.js:12
    Robinhood(null).quote_data('GOOG', function(err

[2017-03-02 11:44] aurbano commented on #45
Thanks for your fix for this!

[2017-03-02 11:44] #45 closed

[2017-05-04 02:42] swimclan opened #48 "Authentication Models"
Does the RH API support OAuth or SAML SSO authentication methods?  Or is sending a clear-text username and password the only way to authenticate an account?  I couldnt find anything in their documentation but thought I would ask anyway.

[2017-05-14 04:53] swimclan opened #49 "'Invalid Token' response"
I am getting intermittent `{ detail: 'Invalid token' }` responses from the API when making use of the `.url` method to get an instrument object from an instrument URL.  Here is an example instrument URL that I am using that will fail with the above message intermittently:

`https://api.robinhood.com/instruments/80cd401e-7b50-4372-8a1f-a8562971962a/`

Could this be related to my login token with th

[2017-05-14 20:15] #48 closed

[2017-05-15 01:14] swimclan commented on #49
I figured this out.  I was instantiating a new instance of the library with each API call.  Now I am caching the instance of RH node and it is running with no issues.  Its also quite fast...

[2017-05-15 01:14] #49 closed

[2017-05-16 08:08] aurbano commented on #48
@swimclan I started writing an answer a while back but then decided to do some more research before.

As far as I know, their API uses user/pass. I doubt they have SAML at this stage, although maybe you can reach out to their support and ask. If they do it wouldn't be hard at all to figure out the API endpoints for it and implement it on our end...

[2017-05-16 08:08] aurbano commented on #41
Since it's already implementing on yours I'll close this here.

[2017-05-16 08:08] #41 closed

[2017-07-21 14:55] mattspaulding opened #50 "Create new account"
Are there any plans on supporting creating a new Robinhood account?

[2017-07-28 12:10] aurbano commented on #50
I don't see why not, feel free to add it in and send a PR 😄

[2017-08-03 01:19] swimclan commented on #17
When I asked support about why some of my orders never get out of the `placed` state, they said they thought I was using an old version of the app.  I can see that this header references iOS 7 and build 823 of the app.  I think we need to somehow get the latest build number and reference iOS 10.3.

Here is what is currently referenced in the wrapper:

`'User-Agent': 'Robinhood/823 (iPhone; iOS 7.1

[2017-08-03 01:29] swimclan commented on #17
I used a debugging proxy to intercept the network calls being made by the app from my iOS device.  Here is what the user-agent looked like:

`User-Agent: Robinhood/5.32.0 (com.robinhood.release.Robinhood; build:3814; iOS 10.3.3) Alamofire/4.2.0 user:a8a2d71f-e82b-4ad7-8dc3-9838be7c6e7c`

I will test this then make a PR if it works

[2017-08-04 14:22] qrpike opened #53 "Account numbers iOS App vs. JSON don't add up?"
So here is a screenshot of the app vs the JSON output from the `.accounts` call. I can't figure out how to correlate these numbers. None of them seem to add up. ( I have a 2-1 margin 'gold' account ).

![JSON](http://i.imgur.com/PVLTmFa.png)

![APP](http://i.imgur.com/RGP43XI.png)

Is the `.accounts` call supposed to return this type of information or am I missing something and should be calling a

[2017-08-04 14:32] qrpike commented on #17
@swimclan Hope you get this working!

[2017-08-04 15:09] qrpike commented on #53
Seems the /portfolios call is what gives the numbers I'm looking for. Thanks,

[2017-08-04 15:09] #53 closed

[2017-08-04 15:14] aurbano commented on #17
@qrpike I think he already did, as he submitted the PR and I've merged it. Give it a go with the latest version v1.0.0

[2017-08-04 15:14] #17 closed

[2017-08-20 00:37] austinyearlykim opened #55 "Rate limits?"
AWESOME library @aurbano

Specifically talking about the quote_data method.  Is there any sort of rate limiting so my IP doesn't get banned into oblivion?  Is 60 requests a minute per SYMBOL reasonable?

I tried to do some due diligence, but I wasn't lucky in finding any documentation on any sort of rate limit.

Please and thank you!

Best,
Austin

[2017-08-20 07:45] #55 closed

[2017-08-21 09:50] aurbano commented on #55
As far as I know, they don't support using their API directly - so they probably won't mention rate limiting anywhere.

But I would guess they have rate limiting in place so use with care!

[2017-09-23 05:34] uladkasach opened #57 "`._set_account()` error - likely for new accounts"
I just created an account today w/ Robinhood and it has not been approved yet. This may be the cause of the error.

Code being executed:

[code]

### Expected result

Expected result is to get the token, such as demonstrated in the example

### Actual behaviour

Getting this error:
[code]
and the data returned in the `body` parameter triggering the error above is
[code]

[2017-09-23 22:25] AHStudyBank commented on #49
Hey man, going through this now. How did you end up caching the instance?

[2017-09-23 22:38] swimclan commented on #49
@AHStudyBank at a high level, I used app.locals in ExpressJS.  I created a "session" class that stored the instance of RH-Node that could be accessed through middleware on every route of my application.  That way I was sharing a singleton instance of the module that was authenticated with Robinhood once and only once.

[2017-09-25 08:32] aurbano commented on #57
Hmm interesting, is it working now after a couple of days?

[2017-09-30 19:05] AHStudyBank opened #58 "Inconsistent `body.results`, err at `/src/robinhood.js:147`"
Code being executed:

[code]

### Expected result

The data from the requested endpoint.

### Actual behaviour

(node:10455) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 1): [object Object]
(node:10455) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 2): Error: getaddrinfo ENOTFOUND api.robinhood.com api.robinhood.com:443
/Users/alexande

[2017-10-12 21:51] mattspaulding opened #59 "Margin (Gold) buying power for penny stocks."
Code being executed:

[code]

### Expected result

// Buying power for a specific stock

### Actual behaviour

// The full buying power

### Reproducing

// I know the account will always return the full margin buying power, but how do I get the margin buying power for a particular stock? Namely, penny stocks.

[2017-10-17 04:16] uladkasach commented on #57
@aurbano certainly is. As soon as the account was approved the error resolved.

[2017-10-17 04:21] uladkasach opened #60 "Retrieve information about a specific order"
The current implementation enables us to ["Gather Recent Orders" ](https://github.com/sanko/Robinhood/blob/master/Order.md#gather-recent-orders) per Sanko's documentation.

It is important to also be able to ["Gather Order Information"](https://github.com/sanko/Robinhood/blob/master/Order.md#gather-order-information) for a specific order.

For example, given the id of an order retrieve the order i

[2017-10-17 04:39] uladkasach commented on #11
An instrument can be considered the entity which a `symbol` is mapped to. I.e., a privately traded company on the stock exchange. Instrument.url = `https://api.robinhood.com/instruments/<instrument-id>/` where `<instrument-id>` maps uniquely to a `symbol`****

**** as far as i know

[2017-11-06 17:18] mattspaulding opened #63 "Day Trades"
Is there a way to find the current number of day trades and what they are?

[2017-11-24 04:19] rclai commented on #17
Are these headers necessary? I've been testing by creating limit orders in after hours (-9am & +6pm) and was able to go from unconfirmed to queued and then cancelling afterwards.

[2017-11-24 14:11] swimclan commented on #17
I was attempting to send requests without the api version number and was getting an error.  But this may have changed since then.

[2017-11-24 17:00] rclai commented on #17
Yeah it has, I created a test limit order and it filled just fine without these headers.

[2017-12-19 23:51] Micah81 opened #65 "Buying Power doesn't match app"
The app says my account's buying power is $2.41. Node is returning: buying_power: '0.0000',
Has anyone else run into this?

[2018-01-24 19:28] #60 closed

[2018-01-25 01:21] uladkasach opened #68 "Cancel an order by order id"
It should be possible to cancel an order by specifying the order id, rather than needing the full order object.

The uri request `https://api.robinhood.com/orders/<order_id>/cancel` is easily buildable.

[2018-01-25 01:29] uladkasach commented on #68
The pull request is backwards compatible: the same operations result if an order object is passed (as the method originally expected).

[2018-01-25 18:03] uladkasach commented on #68
I've confirmed through live testing that this new functionality works as expected and confirmed that  the previous functionality works as expected (backwards compatible.)

[2018-04-20 16:01] eugv86 opened #70 "2FA support?"

[2018-04-23 21:53] aurbano commented on #70
This would be a great addition! Let me know if you want to work on it and I can assign the issue to you

[2018-05-08 10:51] aurbano commented on #70
Added in v1.4.0

[2018-05-08 10:51] #70 closed

[2018-05-08 10:51] aurbano commented on #68
Sorry for the delay merging this! Added in 1.4.0

[2018-05-08 10:51] #68 closed

[2018-05-16 18:17] royjulien opened #73 "Angular 6 & robinhood mass ERRORS :'("
Hey guys,
Just upgraded to Angular 6 using `@angular/cli`. After `npm install robinhood --save` and implementing it in the simplest way I get a bunch of errors:

[code]

[code]

[2018-08-21 04:02] seeARMS opened #75 "Add options functionality"
Would be fantastic to add options functionality. Specifically:

- get options order history
- place 1 leg option orders
- place multi-leg option orders

[2018-08-21 08:36] aurbano commented on #73
@royjulien did you find a workaround for this?

[2018-09-12 16:55] johnmifit opened #76 "Robinhood not authenticating"
`Robinhood.auth_token()` is returning undefined

it appears Robinhood may have changed the authentication api as this request is returning 404...

[code]

(taken from https://github.com/sanko/Robinhood/blob/master/Authentication.md#logging-in)

[2018-09-12 16:56] #76 closed

[2018-09-12 16:57] chiefsmurph opened #77 "Robinhood not authenticating"
`Robinhood.auth_token()` is returning undefined

it appears Robinhood may have changed the authentication api as this request is returning 404...

[code]

(taken from https://github.com/sanko/Robinhood/blob/master/Authentication.md#logging-in)

[2018-09-12 17:53] cfarthingale commented on #77
Experiencing a related issue over at Robinbot: [https://github.com/yura505/robinbot/issues/18](https://github.com/yura505/robinbot/issues/18)

[2018-09-14 01:07] brycelund opened #80 "Catch Authentication Errors"
What is the correct way to catch errors on login? If someone enters incorrect credentials, the module throws an error, but I'm unable to catch them and the script crashes. Has anyone successfully done this?

Code being executed:

[code]

[code]

[2018-09-14 18:23] evanshortiss opened #81 "Typings for TypeScript"
Would you be open to merging a PR to add a `robinhood.d.ts` file that enables typescript support? This could also benefit plain JS users since it would provide improved typeahead etc.

[2018-09-15 11:01] aurbano commented on #81
Absolutely, it would make a lot of sense to write in TS, please feel free to send a PR

[2018-09-15 11:04] aurbano commented on #77
Just merged the PR and released in 1.5.2 so I'll close this issue now.

[2018-09-15 11:04] #77 closed

[2018-09-17 05:17] evanshortiss opened #82 "Update LICENSE file to MIT"
The `package.json` says this project is MIT, but the repo contains a LICENSE file stating it is the `GNU AFFERO GENERAL PUBLIC LICENSE`.

Which is correct? Either the `package.json` needs to state `SEE LICENSE IN LICENSE`, or the LICENSE file should be MIT, right?

[2018-09-17 05:28] evanshortiss commented on #81
@aurbano awesome, just made a PR and build seems to be passing 👍 Thanks

[2018-09-17 05:36] evanshortiss commented on #80
@brycelund I was wondering this also. The module design doesn't allow them to be captured since it throws in an asynchronous manner.

A simple fix would be to update:

1. [The throw here](https://github.com/aurbano/robinhood-node/blob/master/src/robinhood.js#L141)
2. [Another throw here](https://github.com/aurbano/robinhood-node/blob/master/src/robinhood.js#L155)
3. [And here](https://github.com/a

[2018-09-17 19:54] aurbano commented on #82
Good catch! I think it started as AGPL but then changed to MIT, I'll change the license file now

[2018-09-17 19:55] #82 closed

[2018-09-19 14:47] #81 closed

[2018-09-19 22:12] chiefsmurph opened #84 "unable to place orders during extended hours"
https://github.com/sanko/Robinhood/blob/master/Order.md

for pre-market and after hours, orders must include `extended_hours: true` or they will show up as "Queued" instead of "Placed"

one way to handle this is to always include that key pair for all orders.
another way to handle this is to use `Object.assign` (or object spread .. compatibility?) to include all passed in key pairs to `Robinhood.p

[2018-09-19 22:15] chiefsmurph opened #85 "trigger and time (in force) are reversed in README"
If I am not mistaken, the buy order and sell order documentation in the README has the trigger and time's reversed.

[2018-09-20 02:56] evanshortiss opened #86 "API Updates and Promise Support"
I've used this wrapper to perform some simple interactions with the Robinhood API and have a few things on a wishlist that would improve developer experience (IMO). These changes would mean a breaking 2.0 change so it's not a small piece of work, but I'd like to hear your thoughts.

##  Response Structure
Presently, the library uses `request` format callbacks because under the covers it's wrapping

[2018-09-20 03:15] polygrimm opened #87 "Unable to login anymore"
Seems like they changed `mfa_code` way to `oauth2`.

Currently this code fails
[code]

Error is :
[code]

[2018-09-20 06:06] chiefsmurph commented on #87
update to the latest version.  this was fixed.

[2018-09-22 02:31] #87 closed

[2018-10-05 00:27] ryanlb22 opened #88 "Top Ten Stocks"
Hi I just started using this API. I want to test it out first before I implement anything.

Im trying to use top ten stocks tag function, am i calling this function correctly?

[code]
Getting an error.
<h1>Not Found</h1><p>The requested URL /tags/tag/TopTen/ was not found on this server.</p>

Also how are the requests being made and how many requests can you make per day?
Thanks

[2018-10-28 16:09] patrocinio opened #90 "Authentication failure (call to /api-token-auth/)"
It seems the old authentication API (/api-token-auth) has been removed.
See discussion at https://www.reddit.com/r/algotrading/comments/9fatem/robinhood_api_login_issues/

Therefore the call to
[code]
portfolio-portfolio-85b7d56c6b-7xv6w portfolio Magic happens on port 80
portfolio-portfolio-85b7d56c6b-7xv6w portfolio /usr/src/app/node_modules/robinhood/src/robinhood.js:145
portfolio-portfolio-85b

[2018-11-01 03:33] blaney83 opened #91 "Adding Cryptocurrency Functionality to Node Package"
Is anybody working on integrating Cryptocurrency functionality? I know that it is (or was) supported in the Python RH repository (https://github.com/mstrum/robinhood-python). However, I haven't been able to find any Node packages/Forks/Repositories that currently support Crypto in javaScript.

Since Python is not my strong suit, I haven't been able to locate the endpoints that he is using for his

[2018-11-12 23:07] #88 closed

[2018-11-13 03:58] prmichaelsen opened #92 "`.d.ts` should not include `enum` declarations"
I'm happy to fix this in a PR. But basically, to my knowledge, one should not define actual values in a Typescript `d.ts` file. They are not importable as values, only as types. Instead, one would declare
`type Time: 'day' | 'immediate'` and specify `time` as type of `Time` where it is used.

Please correct me if there is something I am missing. Otherwise, I will create the changes and a open a PR

[2018-11-13 10:57] aurbano commented on #12
Yeah the API is much better documented now

[2018-11-13 10:57] #12 closed

[2018-11-13 10:58] aurbano commented on #92
Makes sense @prmichaelsen, feel free to send a PR!

[2018-11-18 00:07] prmichaelsen commented on #92
added PR #93

[2018-11-18 00:19] prmichaelsen commented on #63
You may have to track your daytrades yourself

[2018-11-18 00:41] prmichaelsen commented on #49
I see, so I should only instantiate an instance once. Hm. Unless I expire a token when I'm done, perhaps.

[2018-11-18 00:58] prmichaelsen opened #94 "`instruments` does not work with token"
// Below is an issue template, feel free to modify it

Code being executed:
Where `api` is an authenticated robinhood session:
[code]

### Expected result
An instruments response.

### Actual behaviour
[code]

// Either the error you received, or the JSON that was returned

### Reproducing
Try to use a token to get a response from instruments.

// Please provide a bit of context for the code snipp

[2018-11-18 01:06] prmichaelsen commented on #94
The more I work with this, the more I suspect it has something to do with how I am authenticating. It seems to be the case that I have in fact acquired an invalid bearer token somehow.

[2018-11-18 01:11] prmichaelsen commented on #94
Yes, upon further investigate, the case is that my token is in fact invalid. I am closing this issue.

[2018-11-18 01:11] #94 closed

[2018-11-20 21:16] #92 closed

[2018-11-23 09:59] aurbano commented on #86
This is a really good idea!

If you or someone else wants to start working on a proof of concept for it let me know, otherwise I'll give it a go when work gives me some free time 😄

[2018-11-23 10:00] aurbano commented on #90
Have you tried with the latest version of robinhood node? We've changed the authentication to match the API changes

[2018-12-24 03:46] napindc commented on #55
@austinyearlykim what was the most amount of calls you could do to their service without getting banned?

[2019-01-24 06:56] tagroup commented on #85
README is wrong.  The .d.ts has some issues too.

Example of a good for day - **stop loss** (at stop price it becomes a market order)
"time_in_force":"gfd","fees":"0.00","cumulative_quantity":"0.00000","stop_price":"7.00000000","reject_reason":null,"instrument":"https:\/\/api.robinhood.com\/instruments\/39ff611b-84e7-425b-bfb8-6fe2a983fcf3\/","state":"queued","trigger":"stop","type": "market"

Exa

[2019-01-24 07:06] tagroup commented on #11
@uladkasach is correct - "instrument":"https://api.robinhood.com/instruments/39ff611b-84e7-425b-bfb8-6fe2a983fcf3/" is an example of **GE**.

If you want to build an index, they can be found at [https://api.robinhood.com/instruments/](https://api.robinhood.com/instruments/).  The total equities instruments should be over 12,336.

[2019-01-24 07:15] tagroup commented on #63
The endpoint is https://api.robinhood.com/accounts/<accountNumber>/recent_day_trades/.  You will receive a result with equity_day_trades and option_day_trades and will need to add the number of results under each object.

[2019-02-01 08:06] chiefsmurph opened #97 "Robinhood asked me to stop using their API"
maybe it's time for a change to the headers?  also async await support would be great.

[2019-02-03 02:02] alogwe commented on #97
wow, that's kind of surprising.. what did they say?

[2019-02-03 03:37] chiefsmurph commented on #97
@alogwe

[code]

[2019-02-06 01:21] alogwe commented on #97
interesting.. thanks for sharing that. i agree it'd be nice to be able to change headers (also the async/await is always nice to have haha)

[2019-02-23 03:43] thehaitiancoder commented on #97
Can anyone say something more on this? I have been thinking of building a bot for my daily trades, should I get started anyway? What's the chance that Robinhood blocks the access to this API (that one day it simply doesn't answer) or worse close my account?

[2019-02-26 18:32] terrence-c opened #98 "Uncaught exception in _login(callback) when request was throttled"
Code being executed:

[code]

### Expected result

Avoid mixing throw exception with result callback handler.

### Actual behaviour
[code]
### Reproducing

1. Launch one instance, make alot of requests to robinhood to trigger the request throttling.
2. Launch another instance, it will fail at Robinhood initialization.

### Workaround
I have to add following code before initializing Robinhood to ca

[2019-02-27 01:12] chiefsmurph commented on #97
@thehaitiancoder here are my thoughts... you might be able to get away with using the Robinhood API for data if you don't put it under too much pressure.  I think they really just don't want people executing orders using the API but maybe they'll look the other way just for data?  I don't know.

I have been looking into alternatives and these are some other options:

1. Alpaca
2. Interactive Broke

[2019-04-04 00:57] JoshuaJWilborn commented on #97
I don't understand why they care about the use of the API...As long as you have money and are trading with them. It's not like they are making add revenue.  Very strange!

Perhaps what we should do is require user-agent to be set manually on initialization, so everyone has a unique one.

As for async await, I know I'm new here but my opinion is that async await bring there own problems.  I would s

[2019-05-02 16:06] vance opened #100 "Authentication broken again"
// Below is an issue template, feel free to modify it

Code being executed:

just authenticating

### Expected result

get JWT

### Actual behaviour

 token not found {"statusCode":400,"body":{"detail":"This version of Robinhood is no longer supported. Please update your app or use Robinhood for Web to log in to your account."},"headers":{"date":"Thu, 02 May 2019 16:04:30 GMT","content-type":"appl

[2019-05-03 18:10] TANJX commented on #100
same. I have to use token instead

[2019-05-04 18:30] chadwhitaker commented on #100
@TANJX How did you obtain a token?

[2019-05-04 18:40] TANJX commented on #100
I honestly don't know how to do it programmatically. However, you can find one by opening your Robinhood Web, and it's in the request header in any XHR request.
<img width="284" alt="微信截图_20190504113914" src="https://user-images.githubusercontent.com/4400366/57183393-49c45f00-6e61-11e9-9486-f293fd9d3401.png">
The token is the long string without the `Bearer  ` prefix

[2019-05-06 04:02] chiefsmurph commented on #100
Confirmed this is broken for me too.  I believe the fix is adding a `device_token` property to the login endpoint.  What I am unsure of is how we would go about generating a valid `device_token` other than logging in via the webapp and copying the value.

[2019-05-06 21:17] jeaber commented on #100
looks like they figured out how to generate a valid device_token here https://github.com/Jamonek/Robinhood/issues/176

[2019-05-13 03:51] chiefsmurph commented on #100
javascript:

[code]

looks like you have to pass in `"challenge_type": "sms" ` and I have not gotten past that step yet.

[2019-09-11 22:51] tpwatson commented on #97
Maybe they just dont want their servers inundated with requests when they are already not taking trade execution commissions. If we can start executing automatically then it doesnt let the interest build up from your account when the money is just sitting there.

[2019-09-17 20:49] fogsy commented on #100
I was able to fix this previously by sending a device and client id with the authentication.

[2019-09-18 13:28] aurbano commented on #97
Since this is not an issue of the library directly I'll close it, but discussion is obviously more than welcome as it will be useful for others that find this via search engines.

[2019-09-18 13:28] #97 closed

[2019-09-18 13:33] aurbano opened #101 "Update dependencies"
Update the non-breaking dependencies.

[2019-09-18 13:36] #101 closed

[2019-09-30 04:04] otionstem commented on #73
Setting up the post install script described here: https://gist.github.com/niespodd/1fa82da6f8c901d1c33d2fcbb762947d and updating the data.replace function to `data.replace(/node: false/g, 'node: {crypto: true, stream: true, net: "empty", fs: "empty", tls: "empty"}');` fixed these errors.  Though CORS is still an issue.

[2019-09-30 08:23] #73 closed

[2019-10-16 17:03] kalli88 opened #102 "Market buy { account: [ 'This field may not be null.' ] }"
This returns 400 { account: [ 'This field may not be null.' ] }

 var options = {
      type: 'market',
      quantity: 1,
      instrument: {
          symbol: 'AAC',
          url: 'https://api.robinhood.com/instruments/0d13f0c3-c93d-4044-8f7f-c14f81df13e7/'
      }
    }

    Robinhood.place_buy_order(options, function(error, response, body){
      if(error){
          console.error(error);

[2019-10-20 16:44] wakoong opened #103 "options api can't retrieve all orders"
I am trying to retrieve all my orders but the API can't seem to retrieve data before August 2019. I tried not passing in the optional options hash and passing in the hash with the updated_at key set to '2017-01-01'. In both cases, the API only retrieved orders starting from around 2019-08-04. I would appreciate if someone can look into this issue! Thanks.

[code]

[2020-02-26 23:32] yongzhihuang commented on #100
You can get your auth token by logging in to the web client, inspect any network request while on page, look for the `authorization` header.

[2020-03-25 06:55] aybhalala commented on #91
I am open to contribution since I am also looking for crypto trading through this API. But I would like to know the review latency since I dont want to wait for months to get the contribution reviewed.

[2020-03-25 08:19] aurbano commented on #91
@aybhalala I can review whenever really, so shouldn't take long. If you're going to contribute often I can make you a collaborator after your first couple of contributions if you'd like

[2020-03-25 08:23] #90 closed

[2020-03-25 08:25] aurbano opened #105 "RFC: Error reporting/promises refactor"
As discussed in #80, authentication errors are async so they can't be handled properly at the moment.

A simple fix would be to modify callbacks to be `callback(error, data)` instead of the current `callback(data)`.

Another option would be to refactor into using promises. Or even do both (optional callbacks, and promise returns): #86 offers a nice proposal for this by @evanshortiss

Open for comm

[2020-03-25 08:26] aurbano commented on #80
This wil be fixed once #105 is implemented

[2020-03-25 08:26] #80 closed

[2020-03-25 08:27] aurbano commented on #98
In robinhood v1 this is the only solution as you say. #105 will introduce error reporting in the callbacks and in promises.

[2020-03-25 08:27] #98 closed

[2020-03-25 08:28] aurbano commented on #86
Let's continue this in #105, I'll implement the changes to the library this week and then we can discuss them and refine.

[2020-03-25 08:28] #86 closed

[2020-03-25 08:29] aurbano commented on #100
I'm going to close this as the issue seems to be obtaining the token and not so much the library itself.

Although it seems like we should add this to the Readme, if anyone has a definitive way to authenticate it would be great if you could send a PR adding that.

[2020-03-25 08:29] #100 closed

[2020-03-25 08:30] aurbano commented on #16
Error reporting will be added in the next major version, currently proposed here #105

[2020-03-25 08:30] #16 closed

[2020-03-25 08:31] #57 closed

[2020-03-25 08:31] #50 closed

[2020-03-25 08:32] aurbano commented on #84
Any downside to adding `extended_hours: true` to all orders?

[2020-03-25 08:33] aurbano commented on #103
This seems like a limitation of their API, has anyone been able to go further than that?

[2020-03-25 08:33] #11 closed

[2020-03-25 08:36] #32 closed

[2020-03-25 16:10] mmahalwy commented on #105
+1 for promise support

[2020-06-12 05:11] bklynate opened #106 "Is bid_price required for place_buy_order?"
Like the title of the issue alludes, I was wondering if bid_price is a required field for the place_buy_order?

[2020-07-06 20:28] JacobRichardson opened #107 "Error when trying to authenticate"
Code being executed:

[code]

### Expected result

// A little explanation, sample response JSON...

Stock quote data of the stock with the ticker simple 'GOOG'. This is the code from the README.md. I am trying to use this snippet in order to authenticate my Robinhood account and get started using the rest of the package.

### Actual behavior

// Either the error you received or the JSON that was

[2020-07-23 16:01] ncrmro commented on #107
I am also having this issue, I've been able to authenticate fine with [robin_stocks](https://github.com/jmfernandes/robin_stocks) which is a python robinhood api client.

[2020-07-23 16:05] ncrmro commented on #107
I'm thinking of pulling the token out of the headers when you open up robinhood in the web inspector.

[2020-08-01 20:53] bhaktatejas922 commented on #107
Having the same issue here

[2020-10-09 21:50] JacobRichardson commented on #107
This issue does not appear to be happening anymore. The above code segment appears to be working now. Is anyone still having the same issue?

[2020-10-21 02:51] JacobRichardson commented on #107
I haven't heard back from anyone about still having the issue so I am going to close this issue.

[2020-10-21 02:51] #107 closed

[2020-11-05 05:46] mafischer opened #112 "reintroduce set_mfa_code"
Can the set_mfa_code be added back as shown in the [documentation](https://github.com/aurbano/robinhood-node#mfa-code)?

see pr https://github.com/aurbano/robinhood-node/pull/113 for proposal on fixing mfa. Tested locally and is working.

[2020-11-11 11:20] #112 closed

[2020-11-14 22:43] Zebraslive opened #115 "How to use with crypto symbols?"
nevermind I fixed it.

[2020-11-14 23:04] #115 closed

[2020-11-26 17:17] TyeS2K opened #116 "Security"
I downloaded the latest version 1.7.0 and noticed there were 75 vulnerabilities in this project. 27 of them were HIGH. Given the nature of this library and the potential to expose someone's financial information I wanted to mention this. I will also review the use of lodash, should, uuid, and request to make sure they are malicious.

By removing the following dev dependencies they seem to be resol

[2020-12-04 17:22] liuhongbo opened #117 "How do you list all the instruments"
// Below is an issue template, feel free to modify it

Code being executed:

[code]

the instruments only get the first page of the instruments with the body.next has the url for next page, but seems there is no way to call the instruments method with the cursor parameter

[2020-12-10 04:22] ZacharyHandshoe opened #118 "Account Isn't Sent - Fails"
I am utilizing the JS framework to send a sell request. I authenticate with a toke, which is tossed in correctly. When I run a request not needing an account, the request is fine and works. If the account is needed it fails as the framework does not fill in an account url for the request.
The authorization token is filled in and used with the authentication.

Code being executed:

[code]

### Expe

[2020-12-10 10:24] aurbano commented on #118
Good catch! Feel free to send a PR for this :)

[2020-12-10 10:25] aurbano commented on #116
Good points! Feel free to send a PR with all the potential dependency cleanup you find after reviewing :)

[2020-12-10 13:50] abel30567 opened #119 "Unable to retrieve auth token through credentials"
// Below is an issue template, feel free to modify it

Code being executed:

[code]

### Expected result

// A little explanation, sample response JSON...
expected to retrieve auth token
### Actual behaviour

// Either the error you received, or the JSON that was returned
[code]
### Reproducing

// Please provide a bit of context for the code snippet, were you authenticated?
No MFA enabled on acco

[2020-12-11 20:57] ZacharyHandshoe commented on #118
I have edited the source to manually take in a string and then use that for the account. This sends what would look like a correct request, but now I get the following error
[code]
I know the account field which I give is correct as it has been copy-pasted from a successful order put through on the Robinhood website.
Could this have something to do with the serialization?

[2021-02-03 04:38] mafischer commented on #119
@abel30567, in your case, the response from robinhood server was `"statusCode":400` with a description of `Request blocked, challenge type required.` It seems to indicate that the [request](https://github.com/aurbano/robinhood-node/blob/master/src/robinhood.js#L131-L147) isn't being formed correctly (potentially missing some header value of `challenge_type`).

To better pinpoint what is going on,

[2021-02-04 10:04] zabaat commented on #119
MFA worked for me

[2021-02-05 19:38] altera-ops opened #124 "Unable to retrieve the refresh_token"
### Expected result

Alphanumeric refresh token.

### Actual behaviour

Null output.

### Reproducing

Modified the api code to include

[code]
and attempted to retrieve the token after initializing Robinhood with my credentials and mfa code
[code]

Note, I am successfully able to retrieve the auth_token as follows:
[code]

I'm not sure why there is no output and I see that it is being used in the

[2021-02-05 21:30] mafischer commented on #117
@liuhongbo
here is a snippet of code that worked for me when using the next param to fetch more orders in the transaction history. Hopefully this helps you!

[code]

[2021-02-05 21:44] mafischer commented on #117
also, see [url](https://github.com/aurbano/robinhood-node#urlurl-callback) in documentation

[2021-02-09 07:41] jasan-s commented on #124
@altera-ops  any progress on this?

[2021-02-15 20:08] jasan-s opened #126 "how to persist auth?"
question:

Using username/password combo the auth_token is retrieved.

the auth token `expires_in`  24 hours.

How to persist auth so a new auth_token is retrieved before it expires.

[2021-02-15 21:53] jasan-s opened #127 "dynamic _deviceToken & _clientId ?"
seems `_deviceToken` and `_clientId`  seem hardcoded in src.

if headless browser is used for initial auth , is it possible to  retrieve and supply thee values dynamically ?

[2021-02-16 07:14] jasan-s opened #128 "calculating returns"
This may be a naive question but trying to figure out if i can retrieve data from RH to calculate my weekly return per stock and global level

[2021-02-16 15:54] #128 closed

[2021-02-21 23:12] ecutter commented on #127
`clientId` is (for now, at least) a static value. Robinhood does not set this value dynamically.

`_deviceToken` is generated dynamically in robinhood._init()

[2021-03-03 04:01] mktexan opened #129 "SMS challenge"
The API returns an SMS challenge on the first attempt at login with the API.

[code]

###

A function needs to be created able to handle the SMS challenge

[2021-03-25 22:08] adobayua-rpay opened #130 "Fractional Shares?"
Is there an endpoint that could allow fractional shares?

[2021-03-31 05:54] jasan-s opened #132 "updated_at[gte] for orders (question)"
for the `/orders` endpoint you seem to replace `updated_at` option to `updated_at[gte]`  .  if this is the api call requirement curious as to how you came to this ?

[2021-04-22 02:51] sfshaider commented on #91
was there any progress on this?

[2021-05-29 01:43] gdvsbp commented on #91
@blaney83 @aybhalala @sfshaider @aurbano PR is currently open with some crypto functionality: https://github.com/aurbano/robinhood-node/pull/125#issue-570759178

Trying to get visibility on this since I’m interested as well.

[2021-06-06 23:10] FoxBearBear commented on #80
Why is this closed @aurbano if it's not fixed yet?

[2021-10-15 09:17] #119 closed

[2022-10-06 23:36] muerpa opened #142 "Are there any plans to add a trailing-stop-loss order type to this code? Is there a more fundamental reason it has not been added yet?"
// Below is an issue template, feel free to modify it

Code being executed:

[code]

### Expected result

// A little explanation, sample response JSON...

### Actual behaviour

// Either the error you received, or the JSON that was returned

### Reproducing

// Please provide a bit of context for the code snippet, were you authenticated?

[2022-10-18 03:56] lookevink commented on #142
Checking in on this

about to start another project and am considering this repo. Everything in here working for you? We can work on this together

[2022-11-30 20:31] RobertAgee opened #143 "wrong repo"
wrong repo

[2022-11-30 20:54] #143 closed, assigned to nobody